<h1>HOME</h1>
    <ul>
        {{#each products}}
        <li>Nombre del producto: {{this.title}} - Descripción: {{this.description}} - Precio: Precio: {{this.price}}<hr></li>
        {{/each}}
    </ul>